<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <!--Creamos el contenedor-->
    <div id="contenedor">
        <ol>
            <li v-for="item in chamacos">
                {{ item }}
            </li>
        </ol>
        <hr>
        <h1>
            {{name}}
        </h1>
        <h2>
            {{lastname}}
        </h2>
        <input type="text" v-model="name" name="">
        <button @click="hola">
            Click me!
        </button>
        <hr>
        <input type="number" v-model="numero1" name="">
        <input type="number" v-model="numero2" name="">
        <button @click="suma">Suma</button>
        <h1>
            {{resultado}}
        </h1>
        <hr>
        <input type="text" v-model="age" name="">
        
        <h1 v-if="age < 18">
            No pase
        </h1>
        <h1 v-else>
            Pase
        </h1>
        
    </div>
    <script type="text/javascript">
        //vincular vue con mi contenedor
        const {createApp} = Vue;

        createApp({
            data(){
                return {
                    name: 'Carlos',
                    lastname: 'Meza',
                    numero1: 0,
                    numero2: 0,
                    resultado: 0,
                    age:0,
                    chamacos:['Iran', 'Duarte', 'David']
                }
            },
            methods: {
                hola(){
                    alert('hola ' + this.name)
                },
                suma(){
                    this.resultado = this.numero1 + this.numero2
                }
            }
        }).mount('#contenedor')
    </script>
</body>
</html>